<div class="col-sm-6 offset-sm-3">
<h3>Agregar Capacitacion</h3>

<form (ngSubmit) = "onSubmitForm()">
    
    <div class="form-group">
        <label> Nombre Capacitacion</label>
        <input type="text" class ="form-control" id = "nombre"        
            [(ngModel)] = "nuevaCapacitacion.nombre" name = "nombre">
    </div>

    <div class="form-group">
        <label> Lugar</label>
        <input type="text" class ="form-control" id = "lugar"
        [(ngModel)] = "nuevaCapacitacion.lugar" name = "lugar">
    </div>
   
    <button class = "btn btn-success" type ="submit"><i class="bi bi-save"></i>Guardar</button>

</form>
</div> 
