<h2>app-lista-capacitaciones</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>id</th> 
            <th> nombre </th>
            <th> lugar </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let u of Capacitaciones">
            <td>{{u.id}}</td>
            <td>{{u.nombre}}</td>
            <td>{{u.lugar}}</td>  
           

            <button (click) = "updateUser(u.id)" class = "btn btn-info"> Editar</button>
            <button (click) = "deleteUser(u.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
        </tr>
    </tbody>
</table>



  
  


