<div class="row">
  <h2>capacitaciones</h2>
  <div class="col - lg-12">
    <button type="button" class="btn btn-dark" routerLink="/crear-capacitacion" *ngIf="isLogged">
      crear-capacitacion
    </button>
  </div>
  <div class = "col-xs-12 col-lg-12 ">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th> nombre </th>
        <th> lugar </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of Capacitaciones">
        <td>{{u.id}}</td>
        <td>{{u.nombre}}</td>
        <td>{{u.lugar}}</td>


        <button (click)="updateUser(u.id)" class="btn btn-info" *ngIf="isLogged"> Editar</button>
        <button (click)="deleteUser(u.id)" class="btn btn-danger" style="margin-left: 10px" *ngIf="isLogged"> Borrar</button>
      </tr>
    </tbody>
  </table>
  </div>
  

</div>
