<div class="row">
    <h1> Hard and soft skill </h1>
      <br>
        <div class="col-xs-12 col-lg-12">
            <button type="button" class="btn btn-dark" routerLink="/crear-hys" *ngIf="isLogged">
                crear -hys
            </button>
        </div>
  <br>
  <br>
  <br>

  
  <div *ngFor="let u of Hys " class="text-center col-sm-4 col-md-4 col-lg-4">


    <h2>{{u.nombre}}</h2>

    <circle-progress [percent]=u.percent [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300">
    </circle-progress>
    <br>
    <button (click)="updateHys(u.id)" class="btn btn-info" *ngIf="isLogged"><i class="bi bi-pencil"></i> Editar</button>
    <button (click)="deleteHys(u.id)" class="btn btn-danger" style="margin-left: 10px" *ngIf="isLogged"><i class="bi bi-trash"></i>Borrar
    </button>


  </div>
</div>

<!--

              text-center<< centra el circulo
                [percent]="85"  porcentaje que muestra
                [radius]="100" tamaño del circulo - valores con comillas dobles
                [outerStrokeWidth]="16" tamaño de la barra de afuera la que se mueva
                [innerStrokeWidth]="8"  tamaño de la barra de adentro
                [outerStrokeColor]="'#78C000'" color de la barra de afuera
                [innerStrokeColor]="'#C7E596'"  color de la barra de adentro
                                     valores con comillas dobles y despues simples
                [animation]="true" 
                [animationDuration]="300"
-->
