<div class="row">
    <div class="container">
             <div class="logo">
               <img src="../../../assets/APLogo.png" id="logoAP">
            </div>
           <!-- <div> <h2>nombre{{perfil.nombre}} APELLIDO:{{perfil.apellido}}  </h2></div>-->
             

             <div class="redes">
                        <a href="#"><img src="../../../assets/GitHubLogo.png" id="github"></a>

                     <a href="#"><img src="../../../assets/LogoFacebook.png" id="facebook"></a>
    
                        <a href="#"><img src="../../../assets/LogoInstagram.png" id="instagram"></a>
    
                    <a href="#"><img src="../../../assets/LogoLinkedin.png" id="linkedin"></a>
                 
                   <a href="#"><img src="../../../assets/LogoWasap.png" id="Wasap"></a>
                  <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Ingreso</button>
                  <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Cerrar Session</button>
              </div>
     </div>
</div>



